@import'./font';
@import'./variables';
@import'./mixsin';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: $text_font;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
@import'./all-block/all-block';
@import'./about-all/about-all';
@import'./carrers_all/all-block-careers';
@import'./location-all/location';
